.title{
    font-family: Helvetica, sans-serif;
    background-color: aliceblue;
    font-size: 48px;
    font-weight: bold;
    padding: 8px;
    border: 8px solid #cee8ff;
}

.title.lesser{
    font-size: 32px;
}

.hparent{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}

* {
    font-family: Helvetica, sans-serif;
}

.image{
    height: auto;
    width: 600px;
}

.recipe-link{
    background-color: aliceblue;
    padding: 8px;
    border: 8px solid #cee8ff;
    margin: 4px auto;
    display: block;
}

.recipe-link.one{
    border: 8px solid #c9ffed;
    background-color: #eefff9;
}

.recipe-link.two{
    border: 8px solid #feffc3;
    background-color: #feffd4;
}

.recipe-link.three{
    border: 8px solid #ffcfff;
    background-color: #ffdcff;
}